<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.answer.dao.AnswerDao">
    <resultMap id="BaseResultMap" type="co.bugu.tes.answer.domain.Answer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="paper_id" jdbcType="BIGINT" property="paperId"/>
        <result column="question_id" jdbcType="BIGINT" property="questionId"/>
        <result column="question_type" jdbcType="INTEGER" property="questionType"/>
        <result column="scene_id" jdbcType="BIGINT" property="sceneId"/>
        <result column="right_answer" jdbcType="VARCHAR" property="rightAnswer"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="time_used" jdbcType="INTEGER" property="timeUsed"/>
        <result column="time_left" jdbcType="VARCHAR" property="timeLeft"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, paper_id, question_id, question_type, scene_id, right_answer, answer, time_used, time_left,
    is_del, create_user_id, create_time, update_user_id, update_time
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_answer
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByObject" parameterType="co.bugu.tes.answer.domain.Answer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_answer
    </select>

    <insert id="batchAdd" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into tes_answer(paper_id, right_answer, question_id, question_type, scene_id,
        is_del, create_user_id, create_time, update_user_id, update_time) values
        <foreach collection="list" separator="," item="item">
            (#{item.paperId}, #{item.rightAnswer}, #{item.questionId}, #{item.questionType}, #{item.sceneId}, 1,
            #{item.createUserId},
            #{item.createTime}, #{item.updateUserId}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>