<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.joinInfo.dao.JoinInfoDao">
    <resultMap id="BaseResultMap" type="co.bugu.tes.joinInfo.domain.JoinInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="scene_id" jdbcType="BIGINT" property="sceneId"/>
        <result column="target_id" jdbcType="BIGINT" property="targetId"/>
        <result column="target_code" jdbcType="VARCHAR" property="targetCode"/>
        <result column="target_name" jdbcType="VARCHAR" property="targetName"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, scene_id, target_id, target_code, target_name, type, is_del, update_time, update_user_id,
    create_user_id, create_time
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_join_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByObject" parameterType="co.bugu.tes.joinInfo.domain.JoinInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_join_info
        <where>
            is_del = 1
            <if test="sceneId != null">
                and scene_id = #{sceneId}
            </if>
            <if test="targetId != null">
                and target_id = #{targetId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>


    <insert id="batchAdd" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into tes_join_info(scene_id, target_id, target_code, target_name, type, is_del, update_user_id,
        create_user_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.sceneId}, #{item.targetId}, #{item.targetCode},#{item.targetName}, #{item.type}, 1,
            #{item.updateUserId},
            #{item.createUserId})
        </foreach>
    </insert>

    <update id="deleteBySceneId" parameterType="long">
        update tes_join_info set is_del = 2 where scene_id = #{sceneId}
    </update>
</mapper>