<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.propertyItem.dao.PropertyItemDao">
    <resultMap id="BaseResultMap" type="co.bugu.tes.propertyItem.domain.PropertyItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="no" jdbcType="INTEGER" property="no"/>
        <result column="property_id" jdbcType="BIGINT" property="propertyId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, memo, no, property_id, status, is_del, update_time, update_user_id, create_user_id,
    create_time
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_property_item
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByObject" parameterType="co.bugu.tes.propertyItem.domain.PropertyItem" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_property_item
        <where>
            is_del = 1
            <if test="propertyId != null">
                and property_id = #{propertyId}
            </if>
        </where>
    </select>
</mapper>