<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.questionStat.dao.QuestionStatDao">
    <resultMap id="BaseResultMap" type="co.bugu.tes.questionStat.domain.QuestionStat">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bank_id" jdbcType="BIGINT" property="bankId"/>
        <result column="question_type" jdbcType="INTEGER" property="questionType"/>
        <result column="question_id" jdbcType="BIGINT" property="questionId"/>
        <result column="right_answer" jdbcType="VARCHAR" property="rightAnswer"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="answer_record" jdbcType="VARCHAR" property="answerRecord"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="right_count" jdbcType="INTEGER" property="rightCount"/>
        <result column="wrong_count" jdbcType="INTEGER" property="wrongCount"/>
        <result column="wrong_rate" jdbcType="DOUBLE" property="wrongRate"/>
        <result column="last_answer_id" jdbcType="BIGINT" property="lastAnswerId"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bank_id, question_type, question_id, right_answer, answer, answer_record, total,
    right_count, wrong_count, wrong_rate, last_answer_id, is_del, update_time, update_user_id,
    create_user_id, create_time
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_question_stat
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByObject" parameterType="co.bugu.tes.questionStat.domain.QuestionStat" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_question_stat
        <where>
            is_del = 1
            <if test="questionId != null">
                and question_id = #{questionId}
            </if>
        </where>
    </select>

    <select id="getAnswerStat" resultMap="BaseResultMap" parameterType="long">
        SELECT COUNT(*) as total, question_type, question_id , right_answer, answer , max(id) as id
        FROM tes_answer where id > #{lastAnswerId} and id <![CDATA[ <= ]]>   #{endAnswerId}
         GROUP BY question_id, answer
          ORDER BY id DESC
    </select>

</mapper>