<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.receiptRecord.dao.ReceiptRecordDao">
    <update id="updateById" parameterType="co.bugu.tes.receiptRecord.domain.ReceiptRecord">
        update tes_receipt_record
        <set>
            <if test="sceneId != null">
                scene_id = #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=INTEGER},
            </if>
            <if test="seconds != null">
                seconds = #{seconds,jdbcType=INTEGER},
            </if>
            <if test="rightCount != null">
                right_count = #{rightCount,jdbcType=INTEGER},
            </if>
            <if test="falseCount != null">
                false_count = #{falseCount,jdbcType=INTEGER},
            </if>
            <if test="rate != null">
                rate = #{rate,jdbcType=DOUBLE},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteById" parameterType="java.lang.Long">
    delete from tes_receipt_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="co.bugu.tes.receiptRecord.domain.ReceiptRecord"
            useGeneratedKeys="true">
        insert into tes_receipt_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">
                scene_id,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="seconds != null">
                seconds,
            </if>
            <if test="rightCount != null">
                right_count,
            </if>
            <if test="falseCount != null">
                false_count,
            </if>
            <if test="rate != null">
                rate,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">
                #{sceneId,jdbcType=BIGINT},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="seconds != null">
                #{seconds,jdbcType=INTEGER},
            </if>
            <if test="rightCount != null">
                #{rightCount,jdbcType=INTEGER},
            </if>
            <if test="falseCount != null">
                #{falseCount,jdbcType=INTEGER},
            </if>
            <if test="rate != null">
                #{rate,jdbcType=DOUBLE},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>