<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bugu.tes.userRoleX.dao.UserRoleXDao">
    <resultMap id="BaseResultMap" type="co.bugu.tes.userRoleX.domain.UserRoleX">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="no" jdbcType="INTEGER" property="no"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, role_id, no, is_del, create_time, create_user_id, update_time, update_user_id
  </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_user_role_x
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByObject" parameterType="co.bugu.tes.userRoleX.domain.UserRoleX" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tes_user_role_x
    </select>

    <update id="deleteByUserId" parameterType="long">
        update tes_user_role_x set is_del = 2 where user_id = #{userId}
    </update>

    <insert id="batchAdd" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        insert into tes_user_role_x (user_id, role_id, no, is_del, create_user_id, update_user_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId}, #{item.no}, 1, #{item.createUserId}, #{item.updateUserId})
        </foreach>
    </insert>
</mapper>